.container_detail_breed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    background-color: #156e85;
    gap: 2rem;
}
.img_detail{
    border-radius: 10px;
    width: 700px;
}
.breed_detail{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin: 20px;
}
.breed_descripcion{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    gap: 1.5rem;
}

@media screen and (max-width:1000px) {
    .breed_detail{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }
    .img_detail{
        width: 500px;
    }
}

@media (max-width: 600px) {
    .container_detail_breed{        
        gap: 1rem;
    }
    .img_detail{
        width: 350px;
    }
    .breed_detail{
        width: 400px;
        height: 100%;
        margin: 10px;
        gap: 1rem;
    }
    .breed_descripcion{        
    gap: 0.5rem;
    }
  } 

  @media (max-width: 500px) {
      .img_detail{
          width: 92%;
      }
      .text_descripcion {        
        font-size: 15px;
      }
      .breed_detail{
          width: 100%;
          height: 500px;
          margin: 10px;
          gap: 1rem;
      }
    } 