.container_detail_breed{
    margin: 10px;
    border-radius: 10px;
    background-color: #156e85;
}
.breed_detail{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin: 1rem;
}
.breed_descripcion{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    gap: 1.5rem;
}

@media screen and (max-width:800px) {
    .breed_detail{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}