.paginado{
    background: #07a74f;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    /* top: 70px; */
    bottom: 0px;
    animation: moverArriba 1s ease-in;
}
.buton_row_pag{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50px;
    gap: 0.5rem;
}
.buton_pag{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #036931;
    /* margin: 0.5rem; */
    border-radius: 5px;
    width: 28px;
    height: 28px;
}
.buton_pag > label{
    width: 100%;
}
.buton_pag :hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #17e775;
    border-radius: 5px;
    width: 100%;
    height: 28px;
}
.buton_pag_select{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #17e775;
    /* margin: 0.5rem; */
    border-radius: 5px;
    width: 28px;
    height: 28px;
}