.paginado{
    background: white;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    animation: moverArriba 1s ease-in;
}
.buton_row_pag{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50px;
    gap: 0.5rem;
}
.buton_pag{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(89, 162, 221);
    /* margin: 0.5rem; */
    border-radius: 5px;
    width: 28px;
    height: 28px;
}
.buton_pag :hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(89, 221, 203);
    border-radius: 5px;
    width: 28px;
    height: 28px;
}
.buton_pag_select{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(89, 221, 203);
    /* margin: 0.5rem; */
    border-radius: 5px;
    width: 28px;
    height: 28px;
}