.paginado{
    background: #2193b0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* top: 70px; */
    position: sticky;
    bottom: 0px;
    animation: moverArriba 1s ease-in;
}
.buton_row_pag{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50px;
    gap: 0.5rem;
}
.buton_pag{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2193b0;
    color: #fff;
    border: 1px solid #fff;
    /* margin: 0.5rem; */
    border-radius: 5px;
    width: 33px;
    height: 33px;
}
.buton_pag > label{
    width: 100%;
}
.buton_pag :hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #2193b0;
    border-radius: 5px;
    width: 100%;
    height: 33px;
}
.buton_pag_select{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #2193b0;
    /* margin: 0.5rem; */
    border-radius: 5px;
    width: 33px;
    height: 33px;
}


@media (max-width:500px){
    .buton_row_pag{
        font-size: 12px;
        padding: 5px;
    }
    .buton_pag{
        width: 28px;
        height: 28px;
    }
    .buton_pag_select{
        width: 28px;
        height: 28px;
    }
}