.labelError{
    color: #fff;
    margin: 10px;
}
.create_breeds{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #156e85;
    margin: 10px;
    padding: 1rem;
}   
.container_create{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.textCreate{
    background: #156e85;
}
.create_item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #156e85;
    width: 100%;
    /* margin-top: 30px; */
    /* gap: 1.5rem */
}
.create_item h3{
    margin: 5px;
    padding: 0px;
}
.create_item > input{
    width: 100%;
}
.create_item > label{
    width: 100px;
}
.form_create{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 94%;
    gap: 1rem;
}
.panel_temperaments{
    width: 50%;
}
.table_temperaments{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 230px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #6dd5ed;
    overflow: auto;
}
.search_temperaments{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}
.table_temperaments::-webkit-scrollbar:vertical {
    width:10px;
}

.label_table :hover{
    display: flex;
    padding: 0px 0.7rem;
    justify-content: center;
    border-color: #6dd5ed;
    background-color: #6dd5ed;
    border-radius: 15px;
}
.label_table_sel{
    display: flex;
    padding: 0px 0.7rem;
    justify-content: center;
    border: 1px solid #156e85;
    flex-direction: column;
    width: 100%;
    background-color: #6dd5ed;
    border-radius: 15px;
}
.label_table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-radius: 15px;
}
.container_search_create{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:850px) {
    .form_create{
        width: 100%;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .container_create{
        width: 90%;
    }
    .panel_temperaments{
        width: 90%;
    }
    .table_temperaments{
        width: 100%;
    }
}
@media screen and (max-width: 450px) {
    .container_search_create{
        flex-direction: column;
    }
    .container_search_create .group_btn{
        width: 100%;
    }
    .container_search_create .group_btn > button{
        width: 100%;
    }
}