.landing{
    display: flex;
    justify-content: center;
    align-items: center;
}
.circulo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1e89a3;
    clip-path: circle(20% at 0% 0);
}
.container_landing{
    min-width: 90%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.img_landing{
    display: block;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
    background: #2193b0;
    border: 1px solid #6dd5ed;
    width: auto;
    animation: moverAbajo 1s ease-in;
}
.img_huellitas{
    position: fixed;
    top: 45%;
    left: -100px;
}
.img_huellitas_der{
    position: fixed;
    right: -100px;
    top: 0px;
}
.textos{
    width: 50%;
    color: white;
    z-index: 1;
}
.textos .textos_h1{
    font-size: 85px;
    color: #1e89a3;;
    animation: moverDerecha 1s ease-in;
}
.textos .textos_h2{
    font-size: 20px;
    animation: moverIzquierda 1s ease-in;
}
.textos_buton{
    display: inline-block;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #1e89a3;
    width: 150px;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0;
    animation: moverArriba 1s ease-in;
}
.textos .textos_buton:hover{
    background-color: #fff;
    color: #2193b0;
}
.wave{
    width: 100%;
    position: fixed;
    bottom: 0px;
    padding: 0;
    height: 250px;
}

.wave svg{
    height: 250px; 
    min-width: 100%;
    margin-bottom: 0px;
}
.cardImg{
    display: flex;
    justify-content: center;
    padding: 10px;
    z-index: 1;
}
@keyframes moverIzquierda {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moverDerecha {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moverArriba{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moverAbajo{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@media screen and (max-width:1100px) {
    .img_landing{
        height: 400px;
    }
    .textos .textos_h1{
        font-size: 70px;
    }
    .textos .textos_h2{
        font-size: 15px;
    }
}
@media screen and (max-width:900px) {
    .img_landing{
        height: 300px;
    }
    .wave{
        height: 150px;
    }
    .wave svg{
        height: 150px; width: 100%
    }
    .textos .textos_h1{
        font-size: 60px;
    }
    .textos .textos_h2{
        font-size: 15px;
    }
}
@media screen and (max-width:800px) {
    .img_landing{
        height: 280px;
    }
    .textos .textos_h1{
        font-size: 55px;
    }
    .textos .textos_h2{
        font-size: 15px;
    }
}
@media screen and (max-width:700px) {
    .textos .textos_h1{
        font-size: 45px;
    }
}
@media screen and (max-width:600px) {
    .container_landing{
        width: 100%;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
    }
    .img_landing{
        height: 300px;
    }
    .textos{
        width: 95%;
        text-align: center;
    }
    .textos .textos_h1{
        font-size: 55px;
    }
    .textos .textos_h2{
        font-size: 20px;
    }
}
@media screen and (max-width:440px) {
    .container_landing{
    height: auto;
    }
    .wave{
        height: 80px;
    }
    .wave svg{
        height: 80px; width: 100%
    }
    .img_landing{
        height: 160px;
    }
    .textos .textos_h1{
        font-size: 35px;
    }
    .textos .textos_h2{
        font-size: 15px;
    }
    .textos_buton{
        font-size: 12px;
    }
}