.modify_breeds{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #156e85;
    margin: 10px;
    padding: 1rem;
}
.form_modify_breed{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}
.inputs_modify{
    width: 50%;
}
.inputs_modify .inputs_item,
.panel_temperaments .inputs_item{
    padding: 0px;
}
.inputs_item{
    display: flex;
    flex-direction: row;
    background: #156e85;
    width: 100%;
    padding: 1rem;
    gap: 1rem
}
.inputs_item > input{
    width: 100%;
}
.input_item_h3 {
    display: flex;
    justify-content: flex-start;
    width: 120px;
}

@media screen and (max-width:850px) {
    .form_modify_breed{
        width: 100%;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .inputs_modify{
        width: 90%;
    }
    .panel_temperaments{
        width: 90%;
    }
    .table_temperaments{
        width: 100%;
    }
}