.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 1.5rem; */
  }
.pet_breeds{
  display: flex;
  justify-content: flex-start;
  bottom: 50px;
  position: sticky;
}